extends layout

block content
    h2 这是自己

    li
        a(href=curitem.url) #{curitem.name}


    h2 这是爸爸


    each val in parent_item
        li
            a(href=val.url) #{val.name}

    h2 这是孩子

    each val in child_item
        li
            a(href=val.url) #{val.name}
