extends layout

block content
    script window.cur = !{JSON.stringify(curitem)}
    script window.child = !{JSON.stringify(child_item)}
    div(class='container-fluid')
        div(class='row')
            nav(class='col-md-3 col-sm-4 bg-faded sidebar')
                ul(class='nav nav-pills flex-column')

                    each val in parent_item
                        li(class='nav-item')
                            a(class='nav-link', href=val.url) #{val.name}
                    li(class='nav-item')
                        a(class='nav-link active', href=curitem.url)
                            img(src="https://cdn.bootcss.com/open-iconic/1.1.1/png/chevron-right.png" alt='chevron-right')
                            | #{curitem.name}

                    each val in child_item
                        li(class='nav-item', id="child")
                            a(class='nav-link', href=val.url) #{val.name}

            div(class='col-md-9 ml-sm-auto col-sm-8 pt-3')
                h2(class="item-header") #{curitem.name}
                nav(class='nav nav-tabs pt-3', id='mytab', role='tablist')
                    a(class='nav-item nav-link active', id='nav-info-tab', data-toggle="tab", href='#nav-info', role='tab', aria-controls='nav-info', aria-selected='true') 基本信息
                    a(class='nav-item nav-link', id='nav-graph-tab', data-toggle="tab", href='#nav-graph', role='tab', aria-controls='nav-info', aria-selected='true') 图形显示
                div(class='tab-content pt-3', id='nav-tabContent')
                    div(class='tab-pane fade show active', id='nav-info', role='tabpanel', aria-labelledby='nav-info-tab')
                        table(width="100%",class='namevalue')
                            tr
                                td(width="20%", class='text-center') 名称
                                td #{curitem.name}
                            tr
                                td(width='20%', class='text-center') URL
                                td http:/cbims.org.cn#{curitem.url}
                            tr
                                td(width='20%', class='text-center') 父类
                                td
                                    each val in parent_item
                                        a(href=val.url, class='badge badge-info', id='alink') #{val.name}
                            tr
                                td(width='20%', class='text-center') 子类
                                td
                                    each val in child_item
                                        a(href=val.url, class='badge badge-info', id='alink') #{val.name}

                    div(class='tab-pane fade', id='nav-graph', role='tabpanel', aria-labelledby='nav-graph-tab')
                        script(src='/javascripts/graph.js')


