extends layout

block content

    h2(class='offset-md-2 col-md-8 my-4') 多领域数据
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 铁路工程
            hr
            p URL http://cbims.org.cn/allscope/TL-51.00.00.00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/TL-51.00.00.00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 公路工程
            hr
            p URL http://cbims.org.cn/allscope/GL-19.00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/GL-19.00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 建筑工程
            hr
            p URL http://cbims.org.cn/allscope/JZ-14.00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/JZ-14.00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 民航工程
            hr
            p URL http://cbims.org.cn/allscope/MH-21.08.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/MH-21.08.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 轨道交通
            hr
            p URL http://cbims.org.cn/allscope/GD-14.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/GD-14.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 机械制造
            hr
            p URL http://cbims.org.cn/allscope/JX-14.00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/JX-14.00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 油气管道
            hr
            p URL http://cbims.org.cn/allscope/YQ-00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/YQ-00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 水利工程
            hr
            p URL http://cbims.org.cn/allscope/SL-53.00.00.00.00
            a(class='btn btn-primary float-right' href='/allscope/SL-53.00.00.00.00' role='button') 详细信息
    div(class="row")
        div(class="alert alert-secondary p-3 col-md-8 offset-md-2" role=alert)
            h4 电网工程
            hr
            p URL http://cbims.org.cn/allscope/DW-00.00
            a(class='btn btn-primary float-right' href='/allscope/DW-00.00' role='button') 详细信息