extends layout

block content
    script window.cur = !{JSON.stringify(curitem)}
    script window.child = !{JSON.stringify(child_item)}
    script window.parent = !{JSON.stringify(parent_item)}
    script window.same_list = !{JSON.stringify(same_list)}
    div(class='container-fluid')
        div(class='row')
            nav(class='col-md-3 col-sm-4 bg-faded sidebar')

                ul(class='nav nav-pills flex-column')


                    li(class='nav-item')
                        if parent_item !== null
                            - tmp = parent_item.name
                            a(class='nav-link', href=parent_item.url) #{tmp}
                    li(class='nav-item')
                        a(class='nav-link active', href=curitem.url)
                            - tmp = curitem.name
                            img(src="https://cdn.bootcss.com/open-iconic/1.1.1/png/chevron-right.png" alt='chevron-right')
                            | #{tmp}

                    each val in child_item
                        - tmp = val.name
                        li(class='nav-item', id="child")
                            a(class='nav-link', href=val.url) #{tmp}

            div(class='col-md-9 ml-sm-auto col-sm-8 pt-3')
                h2(class="item-header") #{curitem.name}
                nav(class='nav nav-tabs pt-3', id='mytab', role='tablist')
                    a(class='nav-item nav-link active', id='nav-info-tab', data-toggle="tab", href='#nav-info', role='tab', aria-controls='nav-info', aria-selected='true') 基本信息
                    a(class='nav-item nav-link', id='nav-graph-tab', data-toggle="tab", href='#nav-graph', role='tab', aria-controls='nav-info', aria-selected='true') 图形显示
                div(class='tab-content pt-3', id='nav-tabContent')
                    div(class='tab-pane fade show active', id='nav-info', role='tabpanel', aria-labelledby='nav-info-tab')
                        table(width="100%",class='namevalue')
                            tr
                                td(width="20%", class='text-center') 名称
                                - tmp = curitem.name
                                td #{tmp}
                            tr
                                td(width="20%", class='text-center') 领域
                                td #{curitem.scope}
                            tr
                                td(width='20%', class='text-center') URL
                                td http://cbims.org.cn#{curitem.url}
                            tr
                                td(width='20%', class='text-center') 分类编码
                                td #{curitem.code}
                            tr
                                td(width='20%', class='text-center') 父类
                                td
                                    each val in parent_list
                                        - tmp = val.name
                                        a(href=val.url, class='badge badge-primary', id='alink') #{tmp}
                            tr
                                td(width='20%', class='text-center') 子类
                                td
                                    each val in child_item
                                        - tmp = val.name
                                        a(href=val.url, class='badge badge-info', id='alink') #{tmp}
                            tr
                                td(width='20%', class='text-center') 等价类
                                td
                                    each val in same_list
                                        - tmp = val.scope+":"+val.name
                                        a(href=val.url, class='badge badge-success', id='alink') #{tmp}



                    div(class='tab-pane fade', id='nav-graph', style="width: 900px;height:600px;", role='tabpanel', aria-labelledby='nav-graph-tab')
                        script(src='/javascripts/allscopegraph.js', defer)


