extends layout

block content


    div(class = 'row')
        h1(class='my-3 col-md-10 offset-md-1') 搜索结果
    each val in search_result
        div(class = 'row')
            div(class = 'alert alert-success p-3 col-md-10 offset-md-1' role=alert)
                - tmp = val.name.replace(/[0-9]/g, '')
                h4 #{tmp}
                p #{val.from}
                hr
                a(href=val.url) http://www.cbims.org.cn#{val.url}

