extends layout

block content
    script window.temp = !{JSON.stringify(temp)}
    //script window.templist = !{JSON.stringify(templist)}
    div(class = 'row')
        div(class = 'my-3 col-md-10 offset-md-1')
            h1(class='item-header') #{temp.templateName}
            nav(class='nav nav-tabs pt-3', id='mytab', role='tablist')
                a(class='nav-item nav-link active', id='nav-info-tab', data-toggle="tab", href='#nav-info', role='tab', aria-controls='nav-info', aria-selected='true') 基本信息
                a(class='nav-item nav-link', id='nav-graph-tab', data-toggle="tab", href='#nav-graph', role='tab', aria-controls='nav-info', aria-selected='true') 图形显示
            div(class='tab-content pt-3', id='nav-tabContent')
                div(class='tab-pane fade show active', id='nav-info', role='tabpanel', aria-labelledby='nav-info-tab')
                    table(width="100%",class='namevalue')
                        tr
                            td(width="20%", class='text-center') 名称
                            td #{temp.templateName}
                        tr
                            td(width="20%", class='text-center') UUID
                            td #{temp.uuid}
                        tr
                            td(width='20%', class='text-center') URL
                            td http://cbims.org.cn#{temp.url}

                        tr
                            td(width='20%', class='text-center') 规定实体
                            td
                                a(href='/datamodel/ifcrailway/' + temp.name class='badge badge-primary', id='alink') #{temp.name}



                div(class='tab-pane fade', id='nav-graph', role='tabpanel', aria-labelledby='nav-graph-tab')
                    script(src='/javascripts/singletemplate.js')